<nav class="ms-5">
    <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
    <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>

    {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль</a>
        <form action="{% url 'users:logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="p-2 btn btn-outline-danger">Выход</button>
        </form>
    {% else %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}
</nav>