{% extends 'catalog/base.html' %}
{% block content %}
<div class="container mt-3">
   <h1 class="display-4 text-center">Описание товара {{product.name}}</h1>
    <p class="lead">Описание: {{product.description}}</p>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
    {% endif %}
    <p class="lead">Категория: {{product.category}}</p>
    <p class="lead">Цена: {{product.price}}</p>
    <p class="lead">Дата создания: {{product.created_at|date:"d M Y" }}</p>
    <p class="lead">Дата последнего изменения: {{product.updated_at|date:"d M Y" }}</p>
</div>
    {% if user == product.owner or user.is_superuser %}
        <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-warning">Редактировать продукт</a>
    {% endif %}
    {% if perms.catalog.can_unpublish_product %}
        <form action="{% url 'catalog.unpublish_product' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Отменить публикацию</button>
        </form>
    {% endif %}
    {% if user == product.owner or perms.catalog.delete_product or user.is_superuser %}
        <form action="{% url 'catalog.product_delete' product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить продукт</button>
        </form>
    {% endif %}
{% endblock %}